<a href="https://colab.research.google.com/github/sysphcd/pythonfundamentals/blob/main/PythonExercise3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1A. Write a Python program to sum all the items in a list.

In [ ]:
def sum_list_items(items):
  total = 0
  for i in items:
    total += i
  print("total", total)  
items = [12, 11, 13, 5, 6]
sum_list_items(items)

total 47

1B. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.

In [2]:
def count_strings_number(strings):
  counter= 0
  for i in range(0,len(strings)):
    string = strings[i]
    
    if len(string)>= 2 and string[0]==string[-1:]:
      print(strings[i])
      counter+=1
  print("the number of strings :",counter)
      
strings= ["atesta", "E", "B", "T","bjb","Tokyo","cc"]
count_strings_number(strings)

atesta
bjb
cc
the number of strings : 3

1C. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.

In [38]:
def last(n): return n[-1]

def sort_list_last(tuples):
  return sorted(tuples, key=last)

print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

2A. Write a Python program to remove duplicates from a list.

In [5]:
def remove_duplicates(thelists):
  #covert thelists -> dictionary : keys -> covert to list
  return list(dict.fromkeys(thelists))
  
thelists=["physics", "chemistry", 1997, 2000, "chemistry", 2000]
remove_duplicates(thelists)

['physics', 'chemistry', 1997, 2000]

2B. Write a Python function that takes two lists and returns True if they have at least one common member.

In [9]:
def has_common_member(list1, list2):
  hascommon=False
  for i in list1 :
    for j in list2: 
      if i == j :
        hascommon = True
        return hascommon
      else :
        hascommon = False
  return hascommon    
list1=["Einburgh", "B", "T","bjb","Tokyo","cc"]
list2=["Tokyo","London"]
has_common_member(list1,list2)

True

2C. Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [10]:
def print_oddnumslist(thelists):
  for i in thelists:
    if i%2 == 0:
      thelists.remove(i)
  print(thelists)
thelists=[2,3,4,5,6,7,8,9,10,11,12]
print_oddnumslist(thelists)

[3, 5, 7, 9, 11]

3A. Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30 (both included).

In [17]:
def generate_squarevalue(nums):
  afterremove=[]
  for x in nums:
    if x*x >30 :
      nums.remove(x)
    else:
      afterremove.append(x)
  print("all nums:",afterremove)
  print("first 5: ",afterremove[0:5],"last 5:", afterremove[-5:])
nums = [2,3,4,5,6,7,8,9,5,3,6,3,2,3,4,4,5,3]
generate_squarevalue(nums)

all nums: [2, 3, 4, 5, 5, 3, 2, 3, 4, 4, 5, 3]
first 5:  [2, 3, 4, 5, 5] last 5: [3, 4, 4, 5, 3]

3B. Write a Python program to get the difference between the two lists.

In [18]:
def get_diffoflists(list1,list2):
  list_difference = [item for item in list1 if item not in list2]
  print(list_difference)
list1 = [2,3,4,5,6,7,8,9,5,3,6,3,2,3,4,4,5,3]
list2 = [2, 3, 4, 5, 5, 3, 2, 3, 4, 4, 5, 3]
get_diffoflists(list1,list2)

[6, 7, 8, 9, 6]

3C. Write a Python program to convert a list of characters into a string.

In [19]:
def convert_tostring(thelists):
  string = ""
  for x in thelists:
    string += x
  print(string)
thelists = ["p","y","t","h","o","n"]
convert_tostring(thelists)

python

4A. Write a Python program to select an item randomly from a list.

In [24]:
#from random import randint
from numpy import random
def select_randomitem(thelist):
  x = random.choice(thelist)
  print(x)
  #ran_int = randint(len(thelist))
  #print(thelist[ran_int])
thelist = ["python","swift",".net","react","java"]
select_randomitem(thelist)

swift

4B.Write a Python program to find the second largest number in a list.

In [26]:
def find_secondlargenum(numslist):
  for i in range(0,len(numslist)-1):
    for j in range(len(numslist)-1) :
      if numslist[j]>numslist[j+1]:
        temp = numslist[j]
        numslist[j] = numslist[j+1]
        numslist[j+1] = temp
  print(numslist)      
  print(numslist[1])
numslist = [34,23,78,39,19,46,52]
find_secondlargenum(numslist)

[19, 23, 34, 39, 46, 52, 78]
23

5A. Write a Python program to count the number of elements in a list within a specified range.

In [30]:
def count_rangeinlist(thelist, begin, last):
  counter = 0
  for i in thelist :
    if begin <= i <= last:
      counter +=1
  return counter

list0 = [34,23,78,39,19,46,52,67,36,62,18,29]
print(count_rangeinlist(list0, 30, 80))
list1 = [10,20,30,40,40,40,70,80,99]
print(count_rangeinlist(list1, 40, 100))
list2 = ['a','b','c','d','e','f']
print(count_rangeinlist(list2, 'a', 'e'))

8
6
5

5B. Write a Python program to split a list into different variables.

In [32]:
def split_to_vars(colours):

  var1, var2, var3 = colours
  print(var1)
  print(var2)
  print(var3)

colours = [("Black", "#000000", "rgb(0, 0, 0)"), ("Red", "#FF0000", "rgb(255, 0, 0)"),
         ("Yellow", "#FFFF00", "rgb(255, 255, 0)")]
split_to_vars(colours)

('Black', '#000000', 'rgb(0, 0, 0)')
('Red', '#FF0000', 'rgb(255, 0, 0)')
('Yellow', '#FFFF00', 'rgb(255, 255, 0)')

6A. Merge the following dictionaries into one

In [36]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
d3 = dict(dict1, **dict2)    

print("after Merge ", d3)

after Merge  {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

6B. Delete the set of keys from the following python dictionary

In [37]:
sampleDict = {
 "name": "Kelly",
 "age":25,
 "salary": 8000,
 "city": "New york"
}


keysToRemove = ["name", "salary"]
for i in keysToRemove:
  sampleDict.pop(i)
print(sampleDict)

{'age': 25, 'city': 'New york'}