<a href="https://colab.research.google.com/github/sysphcd/pythonfundamentals/blob/main/PythonAnswers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1A. Write a program to add the two numbers 9 and 13.

In [ ]:
num1 = 9
num2 = 13
  
sum = num1 + num2
print(sum)

22

1B. Write a python program to multiply the two numbers 4 and 5.

In [ ]:
num1 = 4
num2 = 5
  
sum = num1 * num2
print(sum)

20

1C. Write a program that calculates the annual salary of an employee after it increases by 10%. (Initial annual salary Â£42,000)

In [ ]:
initial_salary = 42000
new_salary = initial_salary * 1.10
new_salary = round(new_salary)
print(new_salary)

46200

2A. Write a python program that finds the volume of a cuboid with length 2m, width 3m and height 5m.

In [ ]:
volume= (2*3*5)
print(volume)

30

2B. Write a program that finds the area of a circle that has a radius of 4m. (You can take pi as being 3.14)

In [ ]:
area=(3.14*(4**2))
print(area)

50.24

2C. Write a program that finds the volume of a cone of radius 2m and height 5m. (You can take pi as being 3.14)

In [ ]:
pi=3.14
radius=2
height=5
volume= (pi* (radius**2)*height)/3
print(round(volume,2))

20.93

2D. Write a python program that uses a loop to find the factorial of 5.

In [ ]:
factorial=1
for x in range(1,6):
  factorial=factorial*x
print(factorial)

120